.container {
  background-color: var(--bgSoft);
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.form .section {
  display: grid;
  gap: 10px;
}

.form input,
.form textarea,
.form select {
  padding: 10px;
  background-color: var(--bg);
  color: var(--text);
  border-radius: 5px;
  max-height: 80px;
  min-width: 100px;
}

.form input,
.form select {
  width: 100%;
}

.form textarea {
  width: 100%;
}

.form button {
  padding: 10px;
  background-color: #0071e3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.formGroupServis {
  display: flex;
}

.accordionContainer {
  margin-bottom: 10px;
}

.accordionButton {
  width: 100%;
  padding: 10px;
  text-align: left;
  background-color: #f1f1f1;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
}

.accordionButton:hover {
  background-color: #e2e2e2;
}

.accordionContent {
  overflow: hidden;
  transition: max-height 0.3s ease-out, padding 0.3s ease-out;
  max-height: 0;
  background-color: #fff;
  border: 1px solid #ddd;
  border-top: none;
  padding: 0 10px;
}

.accordionContent.open {
  padding: 10px;
}
